/* CSS */
.login-logout-btn {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: none;
  transition: all 0.3s ease-out;
  border-radius: 10px;
  margin-top: 24px;
  font-size: 18px;
  font-family: 'Abel';
}

.login-logout-btn:hover {
  border: 2px solid #fff;
  transition: all 0.2s ease-out;
  color: #727a39;
  font-weight: bold;
}

.login-logout-btn:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  opacity: 1;
}