@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display&display=swap');


.about-us-description{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.card{
   box-shadow: 3px 3px 13px 6px #00000092; 
<<<<<<< HEAD
   background-color: #fcfcbad6;
   margin-top: 60px;
=======
   background-color: #f0fcbad6;
   margin-top: 40px;
>>>>>>> 89ace12eddb30616db84ac1a0865d3db9d27e86c
}

.card-header{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

p{
    font-size: 17px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}
