@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display&display=swap');


.card{
   box-shadow: 3px 3px 13px 6px #00000092; 
   background-color: #f0fcbad6;
   margin-top: 60px;
}

.card-header{
    font-size: 23px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

p{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}
