.table-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    border-radius: 8px;
}

.table-row-edit{
    background-color: rgba(255, 255, 255, 0.507);
    transition: 0.4s ease-in-out;
    width: 1200px;
    height: 130px;
    box-shadow: 0 12px 34px rgba(164, 218, 192, 0.2);
}

.deleteButton:hover{
    color: rgb(222, 0, 0);
}

.editIcon:hover{
    color: rgb(72, 174, 228);
}

.saveIcon:hover{
    color: rgb(72, 174, 228);
}


tr:nth-child(even) {background: #dde4c7a2}
tr:nth-child(odd) {background: rgba(239, 239, 239, 0.937)}