@import url('https://fonts.googleapis.com/css2?family=Abel&family=Megrim&family=Playfair+Display:wght@400;500;700&family=Poiret+One&display=swap');
.center-loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home {

.weather-location-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 100px;
}

.homeContainer {
  flex: 6;
  background-color: #f7f7f7;
}

.date-counter-holder-sentence{
  background-color: white;
}

.title{
  text-align: center;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Abel';
  padding-top: 30px;
}

.description{
  color: #b7b7b7;
  font-family: 'Abel';
  font-style: normal;
  margin: auto;
  text-align: center;
}

.EventsTypes{
  font-size: 45px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin-top: 60px;
  margin-bottom: 100px;
}

.widgets,
.charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.charts {
  padding: 5px 20px;
  
}

.listTitle {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
  }
}
  

