@import url('https://fonts.googleapis.com/css2?family=Abel&family=Megrim&family=Playfair+Display:wght@400;500;700&family=Poiret+One&display=swap');
.home {

.weather-location-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
}

.homeContainer {
  flex: 6;
  background-color: rgba(240, 240, 240, 0.832);
}

.EventsTypes{
  font-size: 45px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin-top: 60px;
  margin-bottom: 100px;
}

.widgets,
.charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.charts {
  padding: 5px 20px;
  
}

.listTitle {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
  }
}
  

