.table-row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid rgb(237, 237, 237);
    margin-top: 50px;
    margin-right: 200px;
    margin-bottom: 20px;
    text-align: center;

}

.table-titles{
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    font-family: 'Abel';
    font-style: normal;
    color:#aaba76;
    text-shadow: 5px 5px 2px #f0f0f0;
    letter-spacing: 1px;
}

.table-titles2{
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    font-family: 'Abel';
    font-style: normal;
    color:#aaba76;
    text-shadow: 5px 5px 2px #f0f0f0;
    letter-spacing: 1px;
    padding-right: 10px;
}