.list-controls-container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    font-size: 16px;
    text-align: center;

}


.input-table {
    width: 80%; 
    height: 30px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Abel';
    font-size: 23px;
    margin-left: 15px;
}

.input-table::placeholder{
    color: rgb(194, 194, 194);
}

.input-table:hover {
    background-color: #dde4c7e5;
}

.input-button {
    width: 100px;
    height: 62px;
    background-color: whitesmoke;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #aaba7695;
    font-weight: bold;
    color: #aaba765e;
    font-size: 30px;
}

.input-button:hover {
    background-color: rgb(233, 233, 233);
}