.list-controls-container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    font-size: 16px;
    text-align: center;

}


.input-table {
    width: 40%; 
    height: 30px;
    background-color: #dde4c7a2;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Abel';
    font-size: 23px;
}

.input-table:hover {
    background-color: whitesmoke;
}

.input-button {
    width: 100px;
    height: 62px;
    background-color: whitesmoke;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #dde4c7a2;
    font-weight: bold;
    color: #c5ccaf;
    font-size: 30px;
}

.input-button:hover {
    background-color: rgb(241, 241, 241);
}