@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display&display=swap');
.App{
    font-family: 'Poppins', sans-serif;
    
}

.header-text-center {
    padding: 40px ;
    
}
.createplan {
  width: 400px;
  height: 60px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #727a39;
  outline-style: outset;
  outline-color: white;
  transition: 0.3s ease-in-out;
  font-size: 25px;
  align-items: flex-start;
  justify-items: flex-start;
  border-radius: 30px;
  color: white;
  font-family: 'Abel', sans-serif;
}

.createplan:hover {
  transition: 0.4s ease-in-out;
  background: #98a153ce;
  outline-style: outset;
  outline-color: white;
  height: 70px;
  width: 420px;
  font-size:30px;
  color: white;
}

.title-event{
    margin-top: -40px;
    margin-bottom: 60px;
}



 
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  

  /* .carousel{
    box-sizing: content-box;
    font-size: 3rem;
  } */
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 0.25s ease-in-out;
  }
  
  
  .btn:hover svg {
    stroke-dashoffset: -480;
    
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  } 

.my-events{
    font-size: 2rem;
}