@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display:wght@400;500;700&family=Poiret+One&family=Urbanist&display=swap');
.card-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 100px;
}

.card-item {
    position: relative;
    min-width: 320px;
    height: 500px;
    box-shadow: 1px 5px 8px 2px rgb(165, 165, 165);
    border-radius: 5px;
    margin: 30px;
    transition: 0.5s;
    background-color: rgba(245, 245, 245, 0.908);
}

.card-box {
    background: rgba(245, 245, 245, 0.908);
    opacity: 0.9;
    height: 230px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.card-item:hover {
    transform: translateY(-20px);
    box-shadow: 
    2px 8px 20px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.card-content {
    text-align: center;
    padding: 10px;

}

.card-navigate {
    cursor: pointer;
}

.card-title {
    font-size: 28px;
    font-weight: bold;
    color: black;
    z-index: 1;
    transition: 0.5s;
    font-family: 'Urbanist', sans-serif;
}

.card-image {
    opacity: 0.95;
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-details-emoji{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    border-top: 10px solid black;
}

.card-date, .card-location {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
}


.go-to-btn{
    margin-top: 5px;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #d2deaa;
    background-color: transparent;
    color: #bfd184;
    font-family: 'Urbanist', sans-serif;
}

.go-to-btn:hover{
    background-color: #d2deaa;
    color: white;
    transition: 1s ease-in-out;
}

.delete-icon:hover{
    color: rgb(222, 0, 0);
}

.whatsapp-icon{
    color: grey;
}

.whatsapp-icon:hover{
    color: #53ec67;
}

.waze-icon:hover{
    color: blue;
    filter: hue-rotate(22deg) saturate(37);
}