@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
.opening-sentence-container{
  margin-top: 180px;
  padding-bottom: 200px;
}

.opening-sentence{
    font-size: 70px;
    font-weight: bold;
    color: #dde4c7;
    text-shadow: 3px 3px 3px rgba(151, 151, 151, 0.845);
    font-family: 'Poiret One', cursive;
}

.opening2-sentence{
  font-size: 25px;
  font-weight: bold;
  color: #c6c6c6;
  font-family: 'Poiret One', cursive;
}

.events-type-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding-bottom: 170px;
}

.date-counter-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 100px;
  background-color: white;
}

.row-div{
  display: flex;
  flex-direction: row;
}


.date-counter-holder-sentence{
  background-color: white;
}

.title2{
  text-align: center;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Abel';
  padding-top: 30px;
  color: #aaba76;
  font-style: normal;
}

.description{
  color: #636363;
  font-family: 'Abel';
  font-style: normal;
  margin: auto;
  font-size: 25px;
}

.timer-container {
  margin-top: 100px;
  border: 2px solid #acb58c92;
  // background-image: linear-gradient(135deg, #fffcd3ce 60%, #fcffe1ce 69%, #ffffffbe 100%);
  border-radius: 3px 30px;
  border-style:outset;
  box-shadow: 5px 30px 38px #888888;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  text-align: center;
  height: 230px;
  position: relative;
  background-color: #acb58c92;
}

#confetti{
  position: absolute;
  top: 5%;
}


.date-number{
  font-size: 40px;
  background-image: linear-gradient(to top, rgba(237, 237, 237, 0.278), rgba(237, 237, 237, 0.547) 51%, #ffffffbe 100%);
  margin: 15px;
  box-shadow: 1px 8px 15px #888888;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  font-family: 'Abel', sans-serif;
  font-style: normal;
}

.date-text{
  margin: 15px;
  font-family: 'Abel', sans-serif;
  font-style: normal;
  font-size: 22px;
}

// .centered-date {
//   position: absolute;
//   top: 80%;
//   width: 100%;
//   text-align: center;
//   font-size: 30px;
//   color: white;
//   font-weight: bold;
// }


.events-type-container-first-img{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 300px;
  padding: 100px;
  position: relative;
  margin-top: 80px;
}

.pencil-container{
  padding-bottom: 20px;
}


.description-event-page{
  position: absolute;
  top: 280px;
  left: 70px;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 1px 2px 5px black;
  font-family: 'Urbanist', sans-serif;
}

.description2-event-page{
  position: absolute;
  top: 315px;
  left: 136px;
  color: #ffffff;
  text-shadow: 1px 2px 5px black;
  font-family: 'Urbanist', sans-serif;
  font-size: 27px;
}

.head-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  justify-content: flex-start;
  padding: 10px;
  box-shadow: 2px 14px 20px 1px rgba(201, 201, 201, 0.47);
  margin: auto;
  margin-top: 100px;
  margin-bottom: 180px;
  border-radius: 5px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.443);
}

.title-head-section{
  font-size: 40px;
  color: #555;
  font-family: 'Poiret One', cursive;
  font-style: normal;
  padding: 15px;
}

.event-page-details{
  display: flex;
  margin-top: 120px;
  flex-direction: row;
}
.listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 15px 20px 25px 10px rgba(201, 201, 201, 0.47);
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  border: 1px solid #aaba76;
}

.weather-event-page{
  margin: auto;
}
.participants-event-page{
  display: flex;
  flex-direction: column;
  padding-bottom: 250px;
}

.participants-container{
  display: flex;
  position: absolute;
  left: 65%;
  top: 275%;
  flex-direction: row;
  justify-content: space-around;
}

.event-page-details{
  display: flex;
  flex-direction: column;
}

.btn-holder{
  font-size: 33px;
  margin-left: 10px;
  font-family: 'Poiret One', cursive;
}



    .counter {
      font-size: 28px;
      font-weight: 300;
    }

    .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  


