@import url('https://fonts.googleapis.com/css2?family=Abel&family=Megrim&family=Playfair+Display:wght@400;500;700&family=Poiret+One&display=swap');

.logo-container {
  display: flex;
  flex-direction: row;
}

img {
  margin-right: 10px;
}

.user-image {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}

.navbar-title {
  display: flex;
  flex-direction: column;
}

.title22{
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  margin-top: 5px;
}

.my-events22{
  font-size: 20px;
  font-family: 'Abel';
  margin-top: 10px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}

.my-events22:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
  color: #f0f6dd;
  font-weight: bold;
}

.navbar-sub-title {
  font-family: 'Poiret One', cursive;
  font-size: 16px;
}

.navbar-event {
  height: 700px;
  display: flex;
  align-items: flex-start;
  color: #555;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.131);
  object-fit: contain;
  position: relative;
  background: url('../../../../../images/friends.jpg') center center/cover no-repeat;

  .centered-title-container {
    background-color: #dde4c7;
    position: absolute;
    top: 90%;
    left: 20%;
    width: 60%;
    height: 130px;
    border-radius: 10px;
    text-shadow: 3px 3px 3px #bcbcbc;
  }


.centered-title {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    font-style: italic;
    text-shadow: 3px 4px 4px #9f9f9f;
    text-align: center;
    margin-top: 10px;
    color: white;
  }


  .wrapper-event {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 228, 228);
    margin-left: 80px;
    margin-right: 80px;


    .items {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        // .icon {
        //   font-size: 50px;
        //   padding: 10px;
        //   justify-content: space-between;
        // }

        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}