@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display&display=swap');
 
.createplan {
  width: 400px;
  height: 60px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #727a39;
  outline-style: outset;
  outline-color: white;
  transition: 0.3s ease-in-out;
  margin-top: 500px;
  font-size: 25px;
  align-items: flex-start;
  justify-items: flex-start;
  border-radius: 30px;
  color: white;
  font-family: 'Abel', sans-serif;
  padding-left: 25px;
}

.createplan:hover {
  transition: 0.4s ease-in-out;
  background-image: linear-gradient(to right, #98a153ce, #9da275ce 51%, #ffffffbe 100%);
  outline-style: outset;
  outline-color: white;
  height: 70px;
  width: 420px;
  font-size:30px;
  color: white;
}
 
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
} 

.my-events{
    font-size: 2rem;
}


  .navbar{
    /* background: url('../../images/img-sunset.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgb(0,0,0,0.2);
}

video{
  object-fit: cover;
  width: 100%;
  height: 190%;
  position: absolute;
  z-index: -1;
}

.btn--outline{
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  font-family: 'Abel', sans-serif;
}

.btn--outline:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 35px;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
  }

  .navbar-logo:hover {
    color: #727a39;
  }
  
  
  .nav-menu {
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
    font-family: 'Abel', sans-serif;
  }
  
  .nav-item {
    height: 80px;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.2rem 1rem;
    height: 100%;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Abel', sans-serif;
    margin-top: 5px;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
    color: #727a39;
    font-weight: bold;
  }

  .arrow-container{
    margin-left: 10px;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }